ETCD_NAME="{{ inventory_hostname }}"
ETCD_ENABLE_V2="true"
ETCD_DATA_DIR="/var/lib/etcd/{{ cluster_name|replace('-', '_') }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ etcd_protocol }}://{{ inventory_hostname }}:{{ etcd_peer_port }}"
ETCD_LISTEN_PEER_URLS="{{ etcd_protocol }}://0.0.0.0:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="{{ etcd_protocol }}://0.0.0.0:{{ etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_protocol }}://{{ inventory_hostname }}:{{ etcd_client_port }}"
ETCD_INITIAL_CLUSTER_STATE="{{ etcd_initial_cluster_state|default('new') }}"
ETCD_INITIAL_CLUSTER="{%- for h in groups['role_etcd']|sort -%}
{%- set node_loc = hostvars[h].etcd_location -%}
{%- if node_loc == etcd_location -%}
{{ h }}={{ etcd_protocol }}://{{ h }}:{{ etcd_peer_port }},
{%- endif -%}
{%- endfor -%}"
ETCD_AUTO_COMPACTION_MODE="{{ etcd_compaction_mode }}"
ETCD_AUTO_COMPACTION_RETENTION="{{ etcd_compaction_retention }}"

{# Conditionally add TLS/SSL settings only if SSL is enabled #}
{% if etcd_ssl_enabled %}
ETCD_PEER_CERT_FILE="{{ etcd_ssl_cert_file }}"
ETCD_PEER_KEY_FILE="{{ etcd_ssl_key_file }}"
# etcd always verify certificates of peers, even when using certificates only for
# channel encryption
ETCD_PEER_TRUSTED_CA_FILE="{{ etcd_ssl_ca_file }}"
{% if etcd_authentication_mode == 'mtls' %}
ETCD_PEER_CLIENT_CERT_AUTH=true
{% endif %}

ETCD_CERT_FILE="{{ etcd_ssl_cert_file }}"
ETCD_KEY_FILE="{{ etcd_ssl_key_file }}"
{% endif %}
